<div class="p-4 bg-white">

  <div class="row title-sec">
    <h4 class="left-align col-lg-4 col-xs-12">{{ pageTitle }}</h4>
    <div class="right-page-btns col-lg-8 col-xs-12">
      <a class="btn btn-defaul top-btns" role="button" [routerLink]="['add-group']">Add group</a>
    </div>
  </div>

  <div class="options-for-table">
    <div class="row">
      <div class="col-lg-9 col-sm-12">
        <button [disabled]="!(listOfGroupDetails && listOfGroupDetails.length)" class="btn
  table-head-btns same-line-btns"
          title="Refresh" (click)="refresh()">
          <mat-icon class="md-24" aria-label="Settings">refresh</mat-icon>
        </button>
        <div class="search-box same-line-btns">
          <!-- [disabled]="!(listOfGroupDetails && listOfGroupDetails.length)" -->
          <input appAutofocus (ngModelChange)="onSearchValueChange($event,0)" class="form-control mr-sm-2" type="text"
            placeholder="Search by Group name" aria-label="Search" [(ngModel)]="listFilter" />
          <button (click)="clearSearchInput()" class="btn  my-2 my-sm-0" type="submit">
            <mat-icon class="md-24" *ngIf="!listFilter" aria-label="Settings">search</mat-icon>
            <mat-icon class="md-24" *ngIf="listFilter" aria-label="Settings">close</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12 table-paginate ">
        <app-custom-pagination *ngIf="listOfGroupDetails && listOfGroupDetails.length" (pageChange)="pagechange($event)"
          id="1" maxSize="2" directionLinks="true" autoHide="false" [filteredLength]="filteredGroups?.length"
          [listLength]="listLength" [listPerPage]="itemsPerPage" [itemsPerPage]="numberOfElements">
        </app-custom-pagination>

      </div>
    </div>
  </div>

  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Group name</th>
        <th>Group members</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody *ngIf="listOfGroupDetails && listOfGroupDetails.length">
      <tr *ngFor="
        let groupObject of listOfGroupDetails|  paginate: {totalItems:listLength,itemsPerPage: itemsPerPage, currentPage: page,  id: '1'}; let i = index">
        <td>
          <a [routerLink]="['edit-group']" [title]="groupObject.groupName" (click)="userIdChange(groupObject.id)">{{
            groupObject.groupName }}</a>
        </td>
        <td>{{ groupObject.patients.length }}</td>
        <td>
          <button mat-icon-button mat-button data-toggle="tooltip" title="Delete" class="deleteBtn" (click)="groupDeleteClick(groupObject.id, groupObject.groupName)">
            <mat-icon class="md-24" aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </tr>
      <td *ngIf="!filteredGroups?.length" class="text-center" colspan="3">
        No data available
      </td>
    </tbody>
  </table>

  <div class="noUser" *ngIf="!(listOfGroupDetails && listOfGroupDetails.length)">
    No groups available
  </div>
</div>