<div class="outer_container page-for-forms">
  <div class="purchase-head">
    <h4>Change password</h4>
  </div>
  <hr>
  <div class="container_class">
    <form role="form" name="form" [formGroup]="changePasswordForm"appFocusOnError  #focusOnError="appFocusOnError">
      <div class="row">
        <div class="col-md-12 col-sm-12 divs-for-input">
          <div class="form-group row">
            <label for="currentPassword" class="col-sm-12 col-form-label mandatory">Current password</label>
            <div class="col-sm-12">
              <input type="password" appSplCharRemover notAllowState="special" appAutofocus appSpaceRemover spaceState="full" formControlName="currentPassword" class="form-control"
                [ngClass]="{
              'has-danger': changePasswordFormContorls.currentPassword.errors
            }"
                appValidatorTrigger>
              <show-errors [control]="changePasswordFormContorls.currentPassword" field="Current password"></show-errors>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 divs-for-input">
          <div class="form-group row">
            <label for="newPassword" class="col-sm-12 col-form-label mandatory">New password</label>
            <div class="col-sm-12">
              <input type="password" appSplCharRemover notAllowState="special" appSpaceRemover spaceState="full" formControlName="newPassword" class="form-control"
                [ngClass]="{
                'has-danger': changePasswordFormContorls.newPassword.errors
              }"
                appValidatorTrigger>
              <show-errors [control]="changePasswordFormContorls.newPassword" field="New password"></show-errors>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 divs-for-input">
          <div class="form-group row">
            <label for="confirmPassword" class="col-sm-12 col-form-label mandatory">Confirm password</label>
            <div class="col-sm-12">
              <input type="password" notAllowState="special"appSplCharRemover appSpaceRemover spaceState="full" formControlName="confirmPassword" class="form-control"
                [ngClass]="{
                  'has-danger': changePasswordFormContorls.confirmPassword.errors
                }"
                appValidatorTrigger>
              <show-errors [control]="changePasswordFormContorls.confirmPassword" field="Confirm password"></show-errors>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="button-class">
        <button type="submit" class="btn btn-defaul" appButtonSubmit [form]="focusOnError" (submission)="onSubmit()">Done</button>
    </div>
  </div>
</div>