<div class="outer">
  <div class="container pt-3">
    <div class="row justify-content-sm-left">
      <div class="col-sm-8 col-md-6 col-lg-5">
        <div class="card border-info text-center">
          <div class="card-body">
            <!-- <img src="assets/images/login-citta-logo.png"> -->
            <h5 class="heading"> Reset Password</h5>
            <form role="form" name="form" class="operator_login_input" [formGroup]="forgotform" (ngSubmit)="forgotpassword()"
              novalidate>
              <div class="form-group">

                <mat-form-field>
                  <mat-icon matPrefix>person</mat-icon>
                  <input matInput appAutofocus style="padding-left:5px" type="text" placeholder="Username" class="form-control"
                    name="username" formControlName="username" required />
                </mat-form-field>
                <show-errors [control]="forgotform.get('username')" field="username"></show-errors>

              </div>
              <div class="form-group login">
                <button name="action" class="btn btn-sm btn-primary btn-block mb-1" type="submit">Confirm</button>
                <!-- <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>