// @import url("../../../assets/CSS/vendor/bootstrap/css/bootstrap.min.css");
// @import url("../../../assets/CSS/css/font-awesome.css");
// @import url("../../../assets/CSS/css/main-style.css");
// @import url("../../../assets/CSS/css/navigation-menu.css");

.l-or-icon {
    font-size: 20px !important;
    color: #feac6e !important;
    border: 1px solid #feac6e;
    padding: 11px 12px;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    float: left;
    margin-right: 20px;
    position: relative;
    top: 3px;
}

.orange-clr {
    color: #feac6e !important
}

.overview-page .bl-icon {
    padding: 11px 12px;
}

.blue-clr-icon {
    font-size: 20px !important;
    color: #a4a1fb !important;
    border: 1px solid #a4a1fb;
    padding: 11px 12px;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    float: left;
    margin-right: 20px;
    position: relative;
    top: 3px;
}

.blue-clr {
    color: #a4a1fb !important
}

.overview-bigcard .fa-users {
    font-size: 50px;
}

.overview-page h2 {
    font-size: 25px;
}

.overview-page h2,
.overview-page p,
.overview-page span {
    margin: 0;
}

.overview-page p {
    font-size: 15px;
}